{{extend 'layout.html'}}
<div class="container">
    <div class="col-md-6" id="formulario">
        <h2>Nueva</h2>
        <form class="form" id="form_cliente">
            <div class="form-group">
                <input type="hidden" name="id" id="id" value="">
            </div>
            <div class="form-group">
                <label for="slt_personas" class="control-label">Personas</label>
                <select id="slt_personas" name="slt_personas" class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label for="estatus" class="control-label">Estatus</label>
                <select class="form-control" name="estatus" id="estatus">
                    <option></option>
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>  
                </select>
            </div>
            <div class="form-group">
                <label for="limite_credito" class="control-label">Límite de Crédito</label>
                <input type="text" class="form-control" name="limite_credito" id="limite_credito">
            </div>
            <div class="form-group">
                <label for="descuento" class="control-label">Descuento</label>
                <input type="text" class="form-control" name="descuento" id="descuento">
            </div>
            <div class="form-group" id="fg_submit">
                <input type="button" value="Agregar" class="btn btn-success" id="guardar">
                <input type="button" value="Cancelar" class="btn btn-danger" id="cancelar_agregar">
            </div>
        </form>
    </div>
    <div class="col-md-6" id="tabla">
        <h2>Clientes <small><button class="btn btn-success" id="nuevo_registro">Nuevo registro</button></small></h2>
        <table class="table bordered-table" id="tabla_persona">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID_Persona</th>
                    <th>Estatus</th>
                    <th>Límite de Crédito</th>
                    <th>Descuento</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
        ocultarFormulario();
        $(document).on('click', '#nuevo_registro', function(){
            mostrarFormulario();
        });
        verTabla();
        validarForm();
        cargarSelect();
        $(document).on('click', '#tabla_persona tr td button.eliminar', function(){
            var id = $(this).attr('valor_id');
            var $tr=$(this).parents('tr');
            alertify.confirm('Eliminar', '¿Desea eliminar el registro?', 
                function(){
                    $.ajax(
                        {
                            url:"{{=URL('default', 'eliminar_persona')}}",
                            method: "POST",
                            data: {id: id},
                            success: function(result){
                                $tr.remove();
                            },
                            error: function(err){
                                alert("algo salio mal");
                            }
                        }
                    );
                    alertify.success('Eliminado');
                    $("#form_cliente")[0].reset(); 
                }, function(){
                    alertify.error('Cancelado');
            }).set('labels', {ok:'Eliminar', cancel:'Cancelar'}).set('reverseButtons', true).set('defaultFocus', 'cancel'); ;
            
        });
        $(document).on('click', '#tabla_persona tr td button.modificar', function(){
            mostrarFormulario();
            registro = $(this).parents('tr');
            var id = $(this).attr('valor_id');
            $.ajax({
                url:"{{=URL('default', 'modificar_persona')}}",
                method: "POST",
                data: {id : id },
                success: function(result){
                    var data = $.parseJSON(result);
                    $("#id").val(data.id);
                    $("#nombre").val(data.nombre);
                    $("#direccion").val(data.direccion);
                    $("#sexo").val(data.sexo);
                }
            });
        });
        $(document).on('click', '#cancelar_agregar', function(){
            $("#form_cliente")[0].reset();
            ocultarFormulario();
        });
    });
    $('#guardar').on('click', function(){
        // alert($("#slt_personas").val());
        var validado = $("#form_cliente").valid();
        if(validado){
            $.ajax({
                url: "{{=URL('default', 'guardar_cliente')}}",
                method: "POST",
                data: $('#form_cliente').serialize(),
                success: function(result){
                    var item = $.parseJSON(result);
                    var input_id = $("#form_cliente input#id").val();
                    if(input_id == ""){
                        console.log(item);
                        if(item.exito){
                            var tabla  = "<tr class='registros'><td>" + item.id + "</td><td>" + item.persona_id + "</td><td>" + 
                            item.estatus + "</td><td>" + item.limite_credito + "</td><td>" + item.descuento + "</td><td><button type='button' valor_id='" + 
                            item.id +"' class='eliminarERROR btn btn-danger btn-sm'>" + "<span class='glyphicon glyphicon-trash' aria-hidden='true'>" + 
                            "</span></button></td><td><button type='button' valor_id='" + 
                            item.id +"' class='modificarERROR btn btn-warning btn-sm'>" + 
                            "<span class='glyphicon glyphicon-edit' aria-hidden='true'>" + 
                            "</span></td></tr>";
                            $("#tabla_persona").append(tabla);
                            $("#form_cliente")[0].reset();
                            cargarSelect();
                        }else{
                            alertify.error("No se guardo el registro");
                        }
                    }else{                     
                        var tabla  = "<td>" + item.id + "</td><td>" + item.nombre + "</td><td>" + 
                        item.direccion + "</td><td>" + item.sexo + "</td><td><button type='button' valor_id='" + 
                        item.id +"' class='eliminarERROR btn btn-danger btn-sm'>" + "<span class='glyphicon glyphicon-trash' aria-hidden='true'>" + 
                        "</span></button></td><td><button type='button' valor_id='" + 
                        item.id +"' class='modificarERROR btn btn-warning btn-sm'>" + 
                        "<span class='glyphicon glyphicon-edit' aria-hidden='true'>" + 
                        "</span></td>";
                        $(registro).html(tabla);
                        $("#form_cliente input#id").val("");
                        $("#form_cliente")[0].reset();
                        cargarSelect();
                    }
                }
           });
            ocultarFormulario();
        }
    });
    function verTabla(){
        $.ajax({
            method: "GET",
            url: "{{=URL('default', 'leer_cliente')}}",
            success: function(data){
                console.log(data);
                var r = $.parseJSON(data);
                var tabla = "";
                $.each(r, function(i, item){
                    tabla  += "<tr class='registros'><td>" + item.id + "</td><td>" + item.persona_id + "</td><td>" + 
                    item.estatus + "</td><td>" + item.limite_credito + "</td><td>" + item.descuento + "</td><td><button type='button' valor_id='" + 
                    item.id +"' class='eliminarERROR btn btn-danger btn-sm'>" + "<span class='glyphicon glyphicon-trash' aria-hidden='true'>" + 
                    "</span></button></td><td><button type='button' valor_id='" + 
                    item.id +"' class='modificarERROR btn btn-warning btn-sm'>" + 
                    "<span class='glyphicon glyphicon-edit' aria-hidden='true'>" + 
                    "</span></td></tr>";
                });
                $(".registros").remove();
                $("#tabla_persona").append(tabla);
                $("#form_cliente")[0].reset();                
            }
        });
    }
    function validarForm(){
        try{
            $("#form_cliente").validate({
                rules:{
                    id: {required: false},
                    slt_personas: {required: true},
                    estatus: {required: true},
                    limite_credito: {required: true},
                    descuento: {required: true}
                },
                messages:{
                    id: {required : ""},
                    slt_personas: {required: "seleccione una persona"},
                    estatus: {required: "seleccione un estado"},
                    limite_credito: {required: "indique el limite"},
                    descuento: {required: "indique el descuento"}
                }
            });
        }catch(e){
            console.log(e);
        } 
    }
    function ocultarFormulario(){
        $("#formulario").css('visibility', 'hidden');
        $("#formulario").attr('class', 'col-md-1');
        $("#tabla").attr('class', 'col-md-11');
    }
    function mostrarFormulario(){
        $("#formulario").css('visibility', 'visible');
        $("#formulario").attr('class', 'col-md-4');
        $("#tabla").attr('class', 'col-md-8');
    }
    function cargarSelect(){
        $("#slt_personas").html("<option></option>");
        $.ajax({
            method:'POST',
            url:"{{=URL('default', 'buscar_persona_nocliente')}}",
            success:function(datos){
                datos = $.parseJSON(datos) ;
                $.each(datos, function(i, item){
                    $("#slt_personas").append('<option value="' + item.id + '">' + item.nombre + '</option>');
                });
            }
        });
    }
    
</script>