{{extend 'layout.html'}}

<!--<h4>Ejemplo de como cargar los clientes en un <strong>select</strong> </h4>
<select id="slt_personas" class="form-control"></select>-->






<div class="container">
    <div class="col-md-6" id="formulario">
        <h2>Nueva</h2>
        <form class="form" id="form_persona">
            <div class="form-group">
                <input type="hidden" name="id" id="id" value="">
            </div>
            <div class="form-group">
                <label for="nombre" class="control-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre">
            </div>
            <div class="form-group">
                <label for="direccion" class="control-label">Dirección</label>
                <input type="text" class="form-control" name="direccion" id="direccion">
            </div>
            <div class="form-group">
                <label for="sexo" class="control-label">Sexo</label>
                <select class="form-control" name="sexo" id="sexo">
                    <option></option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>  
                </select>
            </div>
            <div class="form-group" id="fg_submit">
                <input type="button" value="Agregar" class="btn btn-success" id="guardar">
                <input type="button" value="Cancelar" class="btn btn-danger" id="cancelar_agregar">
            </div>
        </form>
    </div>
    <div class="col-md-6" id="tabla">        
        <div class="row">
            <div class="col-md-3">
                <h4>Personas</h4>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success" id="nuevo_registro">Nuevo registro</button>
            </div>
            <div class="col-md-3">
                <a class="btn btn-success" href="{{=URL('default', 'proveedor')}}" id="agregar_proveedor">Agregar Proveedor</a>
            </div>
            <div class="col-md-md-3">
                <a class="btn btn-success" href="{{=URL('default', 'cliente')}}" id="agregar_cliente">Agregar Cliente</a>
            </div>
        </div>
        <table class="table bordered-table" id="tabla_persona">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Sexo</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
        ocultarFormulario();
        $(document).on('click', '#nuevo_registro', function(){
            mostrarFormulario();
        });


        verTabla();
        validarForm();
        $.ajax({
            method:'POST',
            url:"{{=URL('default', 'buscar_persona')}}",
            success:function(datos){
                datos = $.parseJSON(datos) ;
                $.each(datos, function(i, item){
                    $("#slt_personas").append('<option value="' + item.id + '">' + item.nombre + '</option>');
                });
            }
        });
        $(document).on('click', '#tabla_persona tr td button.eliminar', function(){
            var id = $(this).attr('valor_id');
            var $tr=$(this).parents('tr');
            alertify.confirm('Eliminar', '¿Desea eliminar el registro?', 
                function(){
                    $.ajax(
                        {
                            url:"{{=URL('default', 'eliminar_persona')}}",
                            method: "POST",
                            data: {id: id},
                            success: function(result){
                                $tr.remove();
                            },
                            error: function(err){
                                alert("algo salio mal");
                            }
                        }
                    );
                    alertify.success('Eliminado');
                    $("#form_persona")[0].reset(); 
                }, function(){
                    alertify.error('Cancelado');
            }).set('labels', {ok:'Eliminar', cancel:'Cancelar'}).set('reverseButtons', true).set('defaultFocus', 'cancel'); ;
            
        });
        $(document).on('click', '#tabla_persona tr td button.modificar', function(){
            mostrarFormulario();
            registro = $(this).parents('tr');
            var id = $(this).attr('valor_id');
            $.ajax({
                url:"{{=URL('default', 'modificar_persona')}}",
                method: "POST",
                data: {id : id },
                success: function(result){
                    var data = $.parseJSON(result);
                    $("#id").val(data.id);
                    $("#nombre").val(data.nombre);
                    $("#direccion").val(data.direccion);
                    $("#sexo").val(data.sexo);
                }
            });
        });
        $(document).on('click', '#cancelar_agregar', function(){
            $("#form_persona")[0].reset();
            ocultarFormulario();
        });        
    });
    $('#guardar').on('click', function(){
        var validado = $("#form_persona").valid();
        if(validado){
            $.ajax({
                url: "{{=URL('default', 'guardar_persona')}}",
                method: "POST",
                data: $('#form_persona').serialize(),
                success: function(result){
                    var item = $.parseJSON(result);
                    var input_id = $("#form_persona input#id").val();
                    if(input_id == ""){
                        console.log(item);
                        if(item.exito){
                            var tabla  = "<tr class='registros'><td>" + item.id + "</td><td>" + item.nombre + "</td><td>" + 
                            item.direccion + "</td><td>" + item.sexo + "</td><td><button type='button' valor_id='" + 
                            item.id +"' class='eliminar btn btn-danger btn-sm'>" + "<span class='glyphicon glyphicon-trash' aria-hidden='true'>" + 
                            "</span></button></td><td><button type='button' valor_id='" + 
                            item.id +"' class='modificar btn btn-warning btn-sm'>" + 
                            "<span class='glyphicon glyphicon-edit' aria-hidden='true'>" + 
                            "</span></td></tr>";
                            $("#tabla_persona").append(tabla);
                            $("#form_persona")[0].reset(); 
                        }else{
                            alertify.error("No se guardo el registro");
                        }
                    }else{
                        // verTabla();                        
                        var tabla  = "<td>" + item.id + "</td><td>" + item.nombre + "</td><td>" + 
                        item.direccion + "</td><td>" + item.sexo + "</td><td><button type='button' valor_id='" + 
                        item.id +"' class='eliminar btn btn-danger btn-sm'>" + "<span class='glyphicon glyphicon-trash' aria-hidden='true'>" + 
                        "</span></button></td><td><button type='button' valor_id='" + 
                        item.id +"' class='modificar btn btn-warning btn-sm'>" + 
                        "<span class='glyphicon glyphicon-edit' aria-hidden='true'>" + 
                        "</span></td>";
                        $(registro).html(tabla);
                        $("#form_persona input#id").val("");
                        $("#form_persona")[0].reset();
                    }
                }
           });
            ocultarFormulario();
        }
    });
    function verTabla(){
        $.ajax({
            method: "GET",
            url: "{{=URL('default', 'leer_persona')}}",
            success: function(data){
                var r = $.parseJSON(data);
                var tabla = "";
                $.each(r, function(i, item){
                    tabla  += "<tr class='registros'><td>" + item.id + "</td><td>" + item.nombre + "</td><td>" + 
                    item.direccion + "</td><td>" + item.sexo + "</td><td><button type='button' valor_id='" + 
                    item.id +"' class='eliminar btn btn-danger btn-sm'>" + "<span class='glyphicon glyphicon-trash' aria-hidden='true'>" + 
                    "</span></button></td><td><button type='button' valor_id='" + 
                    item.id +"' class='modificar btn btn-warning btn-sm'>" + 
                    "<span class='glyphicon glyphicon-edit' aria-hidden='true'>" + 
                    "</span></td></tr>";
                });
                $(".registros").remove();
                $("#tabla_persona").append(tabla);
                $("#form_persona")[0].reset();                
            }
        });
    }
    function validarForm(){
        try{
            $("#form_persona").validate({
                rules:{
                    id: {required: false},
                    nombre: {required: true},
                    direccion: {required: true},
                    sexo: {required: true}
                },
                messages:{
                    id: {required : ""},
                    nombre: {required: "Ingrese su nombre"},
                    direccion:{required: "Ingrese su dirección"},
                    sexo: {required: "Selecciones su genero"}
                }
            });
        }catch(e){
            console.log(e);
        } 
    }
    function ocultarFormulario(){
        $("#formulario").css('visibility', 'hidden');
        $("#formulario").attr('class', 'col-md-1');
        $("#tabla").attr('class', 'col-md-11');
    }
    function mostrarFormulario(){
        $("#formulario").css('visibility', 'visible');
        $("#formulario").attr('class', 'col-md-4');
        $("#tabla").attr('class', 'col-md-8');
    }
</script>