{{extend 'layout.html'}}
<div class="container">
    <div class="col-md-6" id="formulario">
        <h2>Nuevo Proveedor</h2>
        <form class="form" id="form_proveedor">
            <div class="form-group">
                <input type="hidden" name="id" id="id" value="">
            </div>
            <div class="form-group">
                <label for="status" class="control-label">Personas</label>
                <select id="slt_personas" name="persona_id" class="form-control"></select>
            </div>
            <div class="form-group">
                <label for="status" class="control-label">Status</label>
                <select class="form-control" name="estatus" id="estatus">
                    <option></option>
                    <option value="activo">Activo</option>
                    <option value="no_activo">No activo</option>  
                </select>
            </div>
            <div class="form-group">
                <label for="dias_credito" class="control-label">Dias de crédito</label>
                <input type="text" class="form-control" name="dias_credito" id="dias_credito">
            </div>
            <div class="form-group">
                <label for="condicion_pago" class="control-label">Condición de pago</label>
                <input type="text" class="form-control" name="condicion_pago" id="condicion_pago">
            </div>
            <div class="form-group" id="fg_submit">
                <input type="button" value="Agregar" class="btn btn-success" id="guardar">
                <input type="button" value="Cancelar" class="btn btn-danger" id="cancelar_agregar">
            </div>
        </form>
    </div>
    <div class="col-md-6" id="tabla">
        <h2>Proveedores <small><button class="btn btn-success" id="nuevo_proveedor">Nuevo proveedor</button></small></h2>
        <table class="table bordered-table" id="tabla_proveedor">
            <thead>
                <tr>
                    <th>ID Proveedor</th>
                    <th>ID Persona</th>
                    <th>Estatus</th>
                    <th>Dias de crédito</th>
                    <th>Condición de pago</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
        ocultarFormulario();
        $(document).on('click', '#nuevo_proveedor', function(){
            mostrarFormulario();
        });
        verTabla();
        validarForm();
        $.ajax({
            method:'POST',
            url:"{{=URL('default', 'buscar_persona_noproveedor')}}",
            success:function(datos){
                datos = $.parseJSON(datos) ;
                $.each(datos, function(i, item){
                    $("#slt_personas").append('<option value="' + item.id + '">' + item.nombre + '</option>');
                });
            }
        });
        $(document).on('click', '#tabla_proveedor tr td button.eliminar', function(){
            var id = $(this).attr('valor_id');
            var $tr=$(this).parents('tr');
            alertify.confirm('Eliminar', '¿Desea eliminar el registro?', 
                function(){
                    $.ajax(
                        {
                            url:"{{=URL('default', 'eliminar_proveedor')}}",
                            method: "POST",
                            data: {id: id},
                            success: function(result){
                                $tr.remove();
                            },
                            error: function(err){
                                alert("algo salio mal");
                            }
                        }
                    );
                    alertify.success('Eliminado');
                    $("#form_proveedor")[0].reset(); 
                }, function(){
                    alertify.error('Cancelado');
            }).set('labels', {ok:'Eliminar', cancel:'Cancelar'}).set('reverseButtons', true).set('defaultFocus', 'cancel'); ;
            
        });
        $(document).on('click', '#tabla_proveedor tr td button.modificar', function(){


            //FALTA QUE AL DAR CLIC EN MODIFICAR EL SELECT SE RELLENE CON EL CAMPO CORRECTO Y QUE NO SEA EDITABLE
            mostrarFormulario();
            registro = $(this).parents('tr');
            var id = $(this).attr('valor_id');
            $.ajax({
                url:"{{=URL('default', 'modificar_proveedor')}}",
                method: "POST",
                data: {id : id },
                success: function(result){
                    var data = $.parseJSON(result);

                    $("#id").val(data.id);
                    $("#persona_id").val(data.persona_id);
                    $("#estatus").val(data.estatus);
                    $("#dias_credito").val(data.dias_credito);
                    $("#condicion_pago").val(data.condicion_pago);
                }
            });
        });
        $(document).on('click', '#cancelar_agregar', function(){
            $("#form_proveedor")[0].reset();
            ocultarFormulario();
        });
    });
    $('#guardar').on('click', function(){
        var validado = $("#form_proveedor").valid();
        if(validado){
            $.ajax({
                url: "{{=URL('default', 'guardar_proveedor')}}",
                method: "POST",
                data: $('#form_proveedor').serialize(),
                success: function(result){
                    var item = $.parseJSON(result);
                    var input_id = $("#form_proveedor input#id").val();
                    if(input_id == ""){
                        console.log(item);
                        if(item.exito){
                            var tabla  = "<tr class='registros'><td>" + item.id+ "</td><td>" + item.persona_id + "</td><td>" + item.estatus+ "</td><td>" + item.dias_credito + "</td><td>" + item.condicion_pago + "</td><td><button type='button' valor_id='" + item.id +"' class='eliminar btn btn-danger btn-sm'>" + "<span class='glyphicon glyphicon-trash' aria-hidden='true'>" + 
                            "</span></button></td><td><button type='button' valor_id='" + 
                            item.id +"' class='modificar btn btn-warning btn-sm'>" + 
                            "<span class='glyphicon glyphicon-edit' aria-hidden='true'>" + 
                            "</span></td></tr>";
                            $("#tabla_proveedor").append(tabla);
                            $("#form_proveedor")[0].reset(); 
                        }else{
                            alertify.error("No se guardo el registro");
                        }
                    }else{
                        // verTabla();                        
                        var tabla  = "<td>" + item.id + "</td><td>" + item.persona_id + "</td><td>" + 
                        item.estatus + "</td><td>" + item.dias_credito + "</td><td>" + item.condicion_pago + "</td><td><button type='button' valor_id='" + 
                        item.id +"' class='eliminar btn btn-danger btn-sm'>" + "<span class='glyphicon glyphicon-trash' aria-hidden='true'>" + 
                        "</span></button></td><td><button type='button' valor_id='" + 
                        item.id +"' class='modificar btn btn-warning btn-sm'>" + 
                        "<span class='glyphicon glyphicon-edit' aria-hidden='true'>" + 
                        "</span></td>";
                        $(registro).html(tabla);
                        $("#form_proveedor input#id").val("");
                        $("#form_proveedor")[0].reset();
                    }
                }
           });

            ocultarFormulario();
        }
    });
    function verTabla(){
        $.ajax({
            method: "GET",
            url: "{{=URL('default', 'leer_proveedor')}}",
            success: function(data){
                var r = $.parseJSON(data);
                var tabla = "";
                $.each(r, function(i, item){
                    tabla  += "<tr class='registros'><td>" + item.id + "</td><td>" + item.persona_id + "</td><td>" + 
                    item.estatus + "</td><td>" + item.dias_credito + "</td><td>" + item.condicion_pago + "</td><td><button type='button' valor_id='" + 
                    item.id +"' class='eliminar btn btn-danger btn-sm'>" + "<span class='glyphicon glyphicon-trash' aria-hidden='true'>" + 
                    "</span></button></td><td><button type='button' valor_id='" + 
                    item.id +"' class='modificar btn btn-warning btn-sm'>" + 
                    "<span class='glyphicon glyphicon-edit' aria-hidden='true'>" + 
                    "</span></td></tr>";
                });
                $(".registros").remove();
                $("#tabla_proveedor").append(tabla);
                $("#form_proveedor")[0].reset();                
            }
        });
    }
    function validarForm(){
        try{
            $("#form_proveedor").validate({
                rules:{
                    id: {required: false},
                    persona_id: {required: true},
                    estatus: {required: true},
                    dias_credito: {required: true},
                    condicion_pago: {required: true}
                },
                messages:{
                    id: {required : ""},
                    persona_id: {required: ""},
                    estatus:{required: ""},
                    dias_credito: {required: "Ingrese días de crédito"},
                    condicion_pago: {required: "Ingrese las condiciones de pago"}
                }
            });
        }catch(e){
            console.log(e);
        } 
    }
    function ocultarFormulario(){
        $("#formulario").css('visibility', 'hidden');
        $("#formulario").attr('class', 'col-md-1');
        $("#tabla").attr('class', 'col-md-11');
    }
    function mostrarFormulario(){
        $("#formulario").css('visibility', 'visible');
        $("#formulario").attr('class', 'col-md-4');
        $("#tabla").attr('class', 'col-md-8');
    }
    
</script>